[submodule "submodules/LoFTR"]
	path = submodules/LoFTR
	url = https://github.com/zju3dv/LoFTR.git
[submodule "submodules/DeepLM"]
	path = submodules/DeepLM
	url = https://github.com/hjwdzh/DeepLM
[submodule "Ref-Based-Detector"]
	path = Ref-Based-Detector
	url = https://github.com/Ian-White-hz/Ref-Based-Detector.git
